@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital@1&display=swap');
*{font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smoothm;}

header{background-color: #f0f0f0;
width: 100%;
position: fixed;
z-index: 9999;
display:flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #3a6cf4;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;
}

.navigation a:hover{
    color: #602cfc;
}

section {
    padding: 100px 200px;
}

.main {
    witdh:100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    background-image: url(background.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #602cfc;
    font-size: 2em;
    font-weight: 600;
}

.main h3{
    color: #f0f0f0;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-btn{
    color: #f0f0f0;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.93375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: blueviolet;
    transform: scale(1.1);
}
 
.social-icons a{
    color:#f0f0f0;
    font-size: 1.7em;
    padding-right: 30px;
}