@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{font-family: 'Oswald', sans-serif;}
body{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSURuPkZ0q1PKjBCQbIXQtsiVPYxEVRSt_0bbg6xUBHaDRfV3S3);
    background-repeat: no-repeat;
    background-size:cover;
}
header{color: white;margin-left: 10px;margin-top: 30px;}
.a{margin:8px;border-radius: 13px;border:0.1px white solid;background-color: transparent;padding: 5px;}
.y{margin-left: 800px;}
a{color: white;text-decoration: none;}
a:hover{background-color: rgba(17, 115, 124, 0.535);text-decoration: underline;}
.x{font-size: x-large;}
nav{color: white;font-size: xx-large;text-align: center;}
nav>div{position: relative;}
h1{position: absolute;text-align:center;left:200px;margin-top: 100px;text-transform:uppercase;letter-spacing: 3px;}
h5{color:white;transform: translate(0px,600px);}
