@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital@1&display=swap');
 a{color: rgb(131, 193, 237);text-decoration: none;}
* {
    font-family: 'Poppins', sans-serif, 'Ubuntu Mono', monospace;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #01022d, black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containar {
    height: 640px;
    width: 90%;
    background-image: linear-gradient(to right, #01022db3 30%, rgba(0, 0, 0, 0.523) 47%), url(./Worthington-Saldana-2-d9b924b.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.containar:hover{background-image: linear-gradient(to right, #01022db3 47%,transparent), url(./Worthington-Saldana-2-d9b924b.jpeg)
   ; background-repeat: no-repeat;
    background-size: cover;}
header{
    display: flex;justify-content: space-between;align-items: center;padding: 10px;
}
.log{font-size: 30px;text-transform: capitalize;}
ul{list-style: none;display: flex;justify-content: space-evenly;width:50%;}
ul a{border-bottom: 2px solid transparent;}
ul a:hover{border-bottom-color: white;}
.yousef{color: aqua;width: 40%;margin-top:60px;padding-top: 50px;padding-left:34px;}
.yousef h2{font-size: 100px;text-transform: uppercase;}
.yousef p{letter-spacing: 3px;width: 90%;padding: 2px;}
.yousef button{
    font-size: 30px;padding:6px 10px;margin-top: 10px;border-radius:10px;border:solid;border-color:transparent;
}
.yousef button:hover{
    background-color: transparent;color: azure;
}
